{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>About!</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Nagarehub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/contract">Contract</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
<!--navbar End-->
<h1 class="text-center">Nagarehub</h1>

<p class="text-center">
  বাংলাদেশ (এই শব্দ সম্পর্কেশুনুন (সাহায্য·তথ্য)) দক্ষিণ এশিয়ার একটি সার্বভৌম রাষ্ট্র। বাংলাদেশের সাংবিধানিক নাম গণপ্রজাতন্ত্রী বাংলাদেশ। ভৌগোলিকভাবে বাংলাদেশের পশ্চিমে ভারতের পশ্চিমবঙ্গ, 
  উত্তরে পশ্চিমবঙ্গ, আসাম ও মেঘালয়, পূর্ব সীমান্তে আসাম, ত্রিপুরা ও মিজোরাম, দক্ষিণ-পূর্ব সীমান্তে মিয়ানমারের চিন ও রাখাইন রাজ্য এবং দক্ষিণ উপকূলের দিকে বঙ্গোপসাগর অবস্থিত।[১৪] 
  ভৌগোলিকভাবে পৃথিবীর বৃহত্তম ব-দ্বীপের সিংহভাগ অঞ্চল জুড়ে বাংলাদেশ ভূখণ্ড অবস্থিত। ১৬ কোটির অধিক জনসংখ্যা নিয়ে বাংলাদেশ বিশ্বের ৮ম বৃহত্তম দেশ।[১৫] নদীমাতৃক বাংলাদেশ ভূখণ্ডের 
  উপর দিয়ে বয়ে গেছে ৫৭টি আন্তর্জাতিক নদী। বাংলাদেশের উত্তর-পূর্বে ও দক্ষিণ-পূর্বে টারশিয়ারি যুগের পাহাড় ছেয়ে আছে। বিশ্বের বৃহত্তম ম্যানগ্রোভ অরণ্য সুন্দরবন ও দীর্ঘতম প্রাকৃতিক সৈকত 
  কক্সবাজার সমুদ্র সৈকত বাংলাদেশে অবস্থিত। দক্ষিণ এশিয়ার প্রাচীন ও ধ্রুপদী যুগে বাংলাদেশ অঞ্চলটিতে বঙ্গ, পুণ্ড্র, গৌড়, গঙ্গাঋদ্ধি, সমতট ও হরিকেল নামক জনপদ গড়ে উঠেছিল। মৌর্য 
  যুগে মৌর্য সাম্রাজ্যের একটি প্রদেশ ছিল অঞ্চলটি। জনপদগুলো নৌ-শক্তি ও সামুদ্রিক বাণিজ্যের জন্য বিখ্যাত ছিল। মধ্যপ্রাচ্য, রোমান সাম্রাজ্যে মসলিন ও সিল্ক রপ্তানি করতো জনপদগুলো। 
  প্রথম সহস্রাব্দিতে বাংলাদেশ অঞ্চলকে কেন্দ্র করে পাল সাম্রাজ্য, চন্দ্র রাজবংশ, সেন রাজবংশ গড়ে উঠেছিল। বখতিয়ার খলজির গৌড় জয়ের পরে ও দিল্লি সালতানাত আমলে এ অঞ্চলে ইসলাম 
  ছড়িয়ে পরে। ইউরোপীয়রা শাহী বাংলাকে পৃথিবীর সবচেয়ে ধনী বাণিজ্য দেশ হিসেবে গণ্য করতো।[১৬] মুঘল আমলে বিশ্বের মোট উৎপাদনের (জিডিপির) ১২ শতাংশ উৎপন্ন হতো সুবাহ বাংলায়,
  [১৭][১৮][১৯] যা সে সময় সমগ্র পশ্চিম ইউরোপের জিডিপির চেয়ে বেশি ছিল।[২০] ১৭৬৫ থেকে ১৯৪৭ পর্যন্ত বাংলাদেশ ভূখণ্ডটি প্রেসিডেন্সি বাংলার অংশ ছিল। ১৯৪৭-এর ভারত বিভাজনের 
  পর বাংলাদেশ অঞ্চল পূর্ব বাংলা (১৯৪৭–১৯৫৬; পূর্ব পাকিস্তান, ১৯৫৬–১৯৭১) নামে নবগঠিত পাকিস্তান অধিরাজ্যের অন্তর্ভুক্ত হয়। ১৯৪৭ থেকে ১৯৫৬ পর্যন্ত বাংলা ভাষা আন্দোলনকে কেন্দ্র করে 
  বাঙালি জাতীয়তাবাদের বিকাশ হলে পশ্চিম পাকিস্তানের বিবিধ রাজনৈতিক, সাংস্কৃতিক ও অর্থনৈতিক শোষণ, বৈষম্য ও নিপীড়নের বিরুদ্ধে ভারতের সহায়তায় গণতান্ত্রিক ও সশস্ত্র সংগ্রামের মধ্য 
  দিয়ে ১৯৭১ খ্রিষ্টাব্দে পূর্ব পাকিস্তান বাংলাদেশ নামক স্বাধীন ও সার্বভৌম জাতিরাষ্ট্র হিসাবে প্রতিষ্ঠিত হয়। স্বাধীনতা পরবর্তী সময়ে দারিদ্র্যপীড়িত বাংলাদেশে বিভিন্ন সময় ঘটেছে দুর্ভিক্ষ ও প্রাকৃতিক 
  দুর্যোগ; এছাড়াও প্রলম্বিত রাজনৈতিক অস্থিতিশীলতা ও পুনঃপৌনিক সামরিক অভ্যুত্থান এদেশের সামগ্রিক রাজনৈতিক স্থিতিশীলতা বারংবার ব্যাহত করেছে। নব্বইয়ের স্বৈরাচার বিরোধী আন্দোলনের 
  মধ্য দিয়ে ১৯৯১ খ্রিষ্টাব্দে সংসদীয় শাসনব্যবস্থা পুনঃপ্রতিষ্ঠিত হয়েছে যার ধারাবাহিকতা আজ অবধি বিদ্যমান। সকল প্রতিকূলতা সত্ত্বেও গত দুই দশকে বাংলাদেশের অর্থনৈতিক প্রগতি ও সমৃদ্ধি সারা
   বিশ্বে স্বীকৃতি লাভ করেছে।
</p>

<div class="container">
  <div class="row">
      <div class=".col-md-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'images/img1.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Fire Fighter</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'images/img2.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Classmates</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'images/img3.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Rag Day</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   <!-- Footer start-->
   <footer class ="bg-success text-white position-relative" text>
    <p class="text-center py-2 mr-0"> @fahim.ferdous-2022. Developed by Md. Fahim Ferdous</p>
  </footer>
        <!-- Footer End -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>